@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Outfit:wght@400;500;600&display=swap')
	;

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: Noto Sans KR;
	padding: 0;
	margin: 0;
}

/* ------------- wrap ------------- */
div#wrap {
	width: 1100px;
	margin: 0 auto;
	padding: 60px; display : flex;
	flex-direction: column;
	justify-content: center;
	display: flex;
}

/* ---------- container ---------- */
/* 세로배치 */
div.container-row {
	width: 1100px;
	height: auto;
	margin: 10px auto;
	display: flex;
	/* 수평정렬 */
	justify-content: center;
	/* 수직정렬 */
	/* align-items: center; */
}

/* 가로배치 */
div.container-col {
	width: 1100px;
	/* height: auto; */
	margin: 10px auto;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

div.container-image {
	width: 1100px;
	height: auto;
	margin: 10px auto;
	display: inline-flex;
    flex-wrap: wrap;
	
}

/* div.container-animalBoard{
	height: auto;
	margin: 10px auto;
	display: inline-flex;
	justify-content: space-between;
}
 */

/* ----------- div ----------- */
.div-title {
	margin: 20px 0;
}

.div-search {
	display: flex;
	flex-direction: row-reverse;
}

.center {
	text-align: center;
	padding: 40px;
}

/* ----------- main banner ----------- */
.half-banner {
	width: 545px;
	height: 220px;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
}

.red-banner {
	width: 1100px;
	height: 100px;
	background-color: #FF4600;
	margin: 10px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red-banner p {
	color: white;
	font-size: 16px;
}

/* ---------- table ---------- */
table caption {
	font-size: 22pt;
	font-weight: bold;
	margin-bottom: 20px;
}

/* ---------- table modify-table ---------- */
.modify-table {
	margin: 0 auto;
}

.modify-table td {
	padding-bottom: 10px;
	padding-left: 20px;
}

.modify-table td:not(.center) {
	text-align: left;
}

/* table dataTable -------------------- */
table.dataTable {
	width: 1100px;
	margin: 20px 0;
	/* tr에 border 주기 위함 */
	border-collapse: collapse;
}

table.dataTable tr {
	text-align: center;
	border-top: 1px solid #aaa;
	cursor: pointer;
}

table.dataTable th, 
table.dataTable td {
	padding: 6px 10px;
	text-align: center;
	font-size: 16px;
	color: #444444;
}

.dataTable td.td-tltle {
	width: 35%;
	text-align: left;
}

.dataTable td:not(.td-tltle) {
	text-align: center;
}

.dataTable h4{
	color: #bbbbbb;
	padding: 20px;
}

/* table.contentTable -------------------- */
table.contentTable {
	width: 800px;
	margin: 20px auto;
}

table.contentTable th:not(.board-img), td {
	text-align: left;
	font-size: 14px;
	color: #444444;
}

.contentTable th > img{
	width: 400px;
	border-radius: 10px;
}

th.board-img{
	text-align: right;
}

table.contentTable th {
	width: 120px;
}

table.contentTable td.td-tltle {
	width: 35%;
	text-align: left;
}

/* contentTable 제목 */
table.contentTable span:not(.span-comment) {
	margin: 0 20px;
}

/* contentTable 본문 */
table.contentTable textarea:not(.textarea-comment){
	width: 800px;
	height: 200px; 
	padding-top: 20px;
	margin: 20px 0;
	border: none;
	/* border-top: 1px solid #eeeeee; */
}

textarea {
	width: 96%;
	height: 340px;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #dddddd;
	/* border-radius: 10px; */
}

textarea:focus {
	outline: none;
}

textarea:disabled {
	background-color: white;
	border: none;
	border-radius: 0;
}

.textarea-comment {
	width: 800px;
	min-height: 100px;
	padding: 15px;
	font-size: 16px;
}

.textarea-review {
	width: 800px;
	min-height: 80px;
	padding-top: 20px;
	font-size: 16px;
}

/* ---------- input ---------- */
.data-input {
	width: 340px;
	height: 34px;
	padding: 5px 10px;
	outline: none;
	border: 2px solid #dddddd;
	border-radius: 8px;
	box-sizing: border-box;
}

input:focus {
	border-color: #FF4600;
	box-shadow: 0 0 2px 0 #FF4600;
}

input.signBtn-outline:hover, button.signBtn-outline:hover {
	background: #eeeeee;
}

/* ---------- button ---------- */
/* 로그인버튼 */
button.btn-submit, input.btn-submit {
	width: 340px;
	height: 32px;
	padding: 5px 10px;
	outline: none;
	background: #FF4600;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
}

/* radius 버튼 */
input.btn, button.btn {
	width: auto;
	height: 34px;
	padding: 5px 15px;
	margin: 0 5px;
	outline: none;
	background: #FF4600;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
}

input.btn-grey, button.btn-grey {
	width: auto;
	height: 34px;
	padding: 5px 15px;
	margin: 0 5px;
	outline: none;
	background: #bbbbbb;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
}

/* 로그인 버튼 */
input.signBtn, button.signBtn {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	width: auto;
	background: #FF4600;
	padding: 10px 20px;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

input.signBtn:hover, button.signBtn:hover {
	background: #E63200;
	color: white;
}

input.signBtn-outline, button.signBtn-outline {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	width: auto;
	background-color: white;
	padding: 10px 20px;
	color: #aaaaaa;
	border: 1.5px solid #aaaaaa;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	cursor: pointer;
}

/* ----------- paging ----------- */
.paging {
	text-align: center;
	margin: 10px 0;
}

/* ---------- font ---------- */
.Outfit {
	font-family: 'Outfit', sans-serif;
}

b.red {
	color: #FF4600;
	font-size: 12pt;
}

b.green {
	color: #14be00;
	font-size: 12pt;
}

/* ----------- hr ----------- */
hr{
	border-top: 0.5px solid #eeeeee;
	margin: 20px 0;
}

/* ----------- launcher ----------- */
.launcher {
	position: fixed;
	bottom: 50px;
	right: 100px;
}